@model List<MyApp.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Serial Number</th>
            <th>Category</th>
            <th>Clients</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("N2") $</td>
                <td>@item.SerialNumber?.Name</td>
                <td>@item.Category?.Name</td>
                <td>
                    @foreach(var client in item.ItemClients)
                    {
                        @client.Client.Name
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="delete" asp-route-id="@item.Id">delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>